body {
    /* background-color: blanchedalmond; */
    text-align: center;
    /* background: url('Images/Main\ Background\ Low\ OP.png'); */
    /* background: url('Images/Main\ Background.jpg'); */
    background: url('Images/New\ Background.jpg');
    background-size: 100vw;
}

#startQuiz {
    background-color: lightskyblue;
    padding: 50px;
    border-radius: 10px;
}

/* .rightAns, .wrongAns {
    background-color: lightskyblue;
    padding: 50px;
    margin: 40px 40px 20px 40px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
} */

#buttonA, #buttonB, #buttonC, #buttonD {
    background-color: lightskyblue;
    padding: 50px;
    margin: 40px 40px 20px 40px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}


.lvlScore {
    font-family: 'Montserrat', sans-serif;
}


.currentLvl {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.currentQuestion {
    padding: 50px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.level-nav li {
   display: inline-block;
   list-style-type: none;
   text-decoration: none;
}

.level-nav a {
    display: block;
    position: relative;
    letter-spacing: 2px;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    /* background: rgba(255, 255, 255, 0.4); */
    transition: all 0.5s linear;
}

a:hover {
    color: black;
    box-shadow: 2px 2px 2px 0 skyblue ;
}
